:root {
    --section-padding: .2rem 2rem;
    --section-gap: 100px 0;
    --primary-color: #3c4758;
    --secondary-color: #c83531;
    --div-padding: 5px 20px;
    --h1-font-size: 4em;
    --h2-font-size: 1.2em;
    --font-size-p: .9em;
    --font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-family), sans-serif;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: var(--div-padding);
    height: 70px;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 1px 1px 1px 0 var(--primary-color);
    background-color: white;
    z-index: 99;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    font-family: var(--font-family);
    color: var(--primary-color);
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.toggle-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-menu span {
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 3px 0;
}

.menu-links,
.mobile-menu-icon {
    display: none;
}


/* sections */
.hero-section {
    height: 100%;
    padding: var(--section-padding);
    margin: var(--section-gap);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.left-section {
    flex-basis: 50%;
    padding: 10px;
}

.left-section span {
    font-size: var(--font-size-p);
    font-weight: 500;
    color: var(--secondary-color);
    font-family: var(--font-family);
}

.left-section h1 {
    font-size: var(--h1-font-size);
    font-weight: 800;
    margin: 20px 0;
    font-family: var(--font-family);
}

.left-section p {
    font-weight: 300;
}

.right-section {
    flex-basis: 40%;
}

.right-section img {
    min-height: 400px;
    width: 100%;
}

/* logos */

.logos-section {
    height: 100%;
    padding: var(--sectioin-padding);
    align-items: center;
}

.flex-logos {
    width: 100%;
    align-items: center;
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
}

.product-section {
    height: 100%;
    padding: var(--sectioin-padding);
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: var(--section-gap);
}

.product {
    flex-basis: 30%;
    text-align: center;
}

.product h2 {
    font-size: 1em;
    font-family: var(--font-family);
}

.product p {
    font-size: var(--font-size-p);
    font-weight: 300;
    width: 70%;
    text-align: center;
    font-family: var(--font-family);
    margin: 10px auto;
}

.product img {
    width: 100px;
}

.work-section {
    height: 100%;
    padding: var(--sectioin-padding);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: var(--section-gap);
    margin-top: 30px;
}

.work-main-section h2 {
    text-align: center;
    font-size: 1.5em;
}

.work-p {
    width: 50%;
}

.work-main-section p {
    margin: 10px auto;
    font-size: var(--font-size-p);
    font-family: var(--font-family);
    font-weight: 300;
}

.work-items p {
    width: 100%;
}

.work-items {
    flex-basis: 30%;
}

.work-items h2 {
    font-size: var(--h2-font-size);
    text-align: left;
    font-family: var(--font-family);
}

.work-items img {
    width: 100%;
    border-radius: 8px;
    height: 300px;
}

.contact-section {
    height: 100%;
    padding: var(--sectioin-padding);
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.contect-form {
    flex-basis: 30%;
    padding: 2rem;
}

.contact-img {
    /* flex-basis: 50%; */
    padding: 1rem;
}

.contact-img img {
    width: 80%;
    margin: '10px auto';
}

.input-name,
.input-email,
.input-message {
    border: none;
    width: 100%;
    color: var(--primary-color);
    background-color: #a6a5a57b;
    padding: 20px;
    border-radius: 2px;
    margin-top: 10px;
}

.submit-btn {
    padding: 16px 20px;
    border: none;
    color: white;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 8px;

}

.submit-btn:hover {
    color: var(--secondary-color);
    background-color: white;
    border: 1px solid var(--secondary-color);
}

footer {
    padding: 10px 24px;
    background-color: #eee;
    text-align: center;
    font-size: 1.2em;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

footer p {
    justify-self: center;
    align-self: center;
    text-align: right;
    margin: 0;
}

footer ul {
    display: flex;
    margin: 0;
}

footer ul li {
    list-style: none;
}

footer ul li a img {
    width: 30px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    justify-self: end;
}


@media (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #3c4758;
        margin: 5px auto;
        transition: 0.4s;
    }

    .desktop-menu {
        display: none;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: -webkit-fill-available;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 100;
        overflow: hidden;
        transition: max-height 1s ease-in;
    }

    .menu-links li a {
        padding: 10px;
    }

    .menu-links li {
        margin: 10px;
    }

    .menu-links li a:hover {
        color: #c83531;
    }

    .menu-links.active {
        max-height: 500px;
    }

    .menu-links.menu-collapsed {
        max-height: 0;
    }

    .hero-section {
        margin-top: 60px;
    }

    .left-section {
        flex-basis: 100%;
    }

    .left-section h1 {
        font-size: 2em;
        margin: 10px 0;
    }

    .left-section p {
        font-size: .8em;
    }

    .hero-section {
        padding: .2rem 1rem;
        --section-gap: 50px 0;
        display: flex;
        align-items: center;
    }

    .left-section {
        flex-basis: 100%;
        padding: 10px;
        order: 1;
    }

    .left-section span {
        --font-size-p: .7em;
        font-weight: 400;
    }

    .left-section h1 {
        --h1-font-size: 2.4em;
        font-weight: 700;
        margin: 10px 0;
    }

    .left-section p {
        font-weight: 300;
        font-size: .7em;
    }

    .right-section {
        flex-basis: 100%;
        order: 0;
    }

    .right-section img {
        min-height: 150px;
        width: 80%;
        margin: 0 auto;
    }

    /* logos */
    .flex-logos {
        padding: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
    }

    .flex-logos img {
        margin: 10px auto;
    }

    .product-section {
        --sectioin-padding: .2rem 1rem;
        --section-gap: 50px 0;
        flex-wrap: wrap;
    }

    .product {
        flex-basis: 100%;
        margin: 20px auto;
    }

    .product p {
        --font-size-p: .7em;
        width: 80%;
        margin: 10px auto;
    }

    .product img {
        width: 80px;
    }

    .work-section {
        --sectioin-padding: .2rem 1rem;
        --section-gap: 50px 0;
    }

    .work-main-section h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .work-p {
        width: 100%;
        --font-size-p: .7em;
        text-align: center;
    }

    .work-main-section p {
        margin: 10px auto;
        --font-size-p: .7em;
    }

    .work-items p {
        width: 100%;
    }

    .work-items {
        flex-basis: 50%;
        margin: 10px;
    }

    .work-items h2 {
        --h2-font-size: .9em;
        text-align: left;
    }

    .work-items img {
        width: 100%;
        height: 200px;
    }

    .contact-section {
        --sectioin-padding: .2rem 1rem;
        margin-top: 30px;
    }

    .contect-form {
        flex-basis: 70%;
        padding: 1rem;
    }

    .contact-img {
        padding: 1rem;
        text-align: center;
    }

    .contact-img img {
        width: 50%;
        margin: '10px auto';
    }

    footer {
        margin-top: 50px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer p {
        margin: 10px auto;
        font-size: .9em;
    }

    footer ul {
        display: flex;
        padding-left: 0;
        margin: 10px auto;
    }

}

@media (max-width: 577px) {
    .work-items {
        flex-basis: 100%;
    }

    .right-section img {
        width: 100%;
    }

    .input-name,
    .input-email,
    .input-message {
        width: 90%;
    }
}